  <h1 class="titulo_mentores">  Patrocinadores: <span class="muted">Gold</span></h1>
  <div class="row ">
	  <div class="span3 center">
      <a href="http://www.itesm.mx/wps/wcm/connect/Campus/LEO/Leon" target="_blank">
      <img src="images/patrocinadores/tec.png">
      </a>
	  </div>
    <div class="span3 center">
      <a href="http://masada.co/" target="_blank">
       <img src="images/patrocinadores/masada.png" />
      </a>
    </div>
    <div class="span3 center">
      <a href="http://www.textilesleon.com/" target="_blank">
       <img src="images/patrocinadores/textiles.jpg" />
      </a>
    </div>
    <div class="span3 center">
      <a href="http://www.cuadra.com.mx/" target="_blank">
        <img src="images/patrocinadores/cuadra.jpg" style='width: 200px'>
      </a>
    </div>
  </div>
  <hr class="featurette-divider">
