  <h1 class="titulo_mentores">  Patrocinadores de <span class="muted">Medios</span></h1>
  <div class="row ">
	  <div class="span4 center">
      <img src="images/patrocinadores/sticker_game.jpg">
      </a>
	  </div>
    <div class="span4 center">
      <img src="images/patrocinadores/ocv.jpg" style='width: 150px'>
    </div>
    <div class="span4">
      <img src="images/patrocinadores/meeting.jpg" style='width: 150px'>

    </div>
  </div>
  <hr class="featurette-divider">
