<div class="span3">
	<div style="margin:20px 0;">
  <img class="img-circle" data-src="holder.js/140x140/social" src="images/gente/coaches/adrian.jpg" style="width:200px;">
  <h4>Adrian Cuadros</h4>
  <h6 class="muted" style="font-style:italic; height:50px;">Co-Founder Reserbus</h6>
  <a href="#adrian" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="adrian" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Adrian Cuadros</h3>
    </div>
    <div class="modal-body">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/coaches/adrian.jpg" style="width:180px;">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="curriculum">
        Experienced in creating web and mobile products, software team building and project management.
<br /><br />
        Ruby and Open-source lover and evangelist.
<br /><br />
        Wants to create amazingly useful web and mobile products.
<br /><br />
        Specialties:Web and Mobile development
        </p>
      </div>
    </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
      </div>
  </div>
</div>
</div>
