<div class="span3">
  <div style="margin:20px 0;">
    <img class="img-circle" data-src="holder.js/140x140" src="images/gente/coaches/benjamin.jpg" style="width:200px;">
    <h4>Benjamín Hernández</h4>
    <h6 class="muted" style="font-style:italic; height:50px;">20K at XanGo</h6>
    <a href="#benjamin" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
    <!-- Modal -->
    <div id="benjamin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Benjamín Hernández</h3>
      </div>
      <div class="modal-body">
        <img class="img-circle" data-src="holder.js/140x140" src="images/gente/coaches/benjamin.jpg" style="width:180px;">
        <div style="width:80%; margin:auto;">
          <hr class="featurette-divider" style="margin:10px 0;">
          <p class="curriculum">
            Mi misión: contribuir al desarrollo de México mediante la creación de negocios exitosos con impacto global.
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
      </div>
      <!-- Modal -->
    </div>
  </div>
</div>
