<div class="span3">
	<div style="margin:20px 0;">
	    <img class="img-circle" data-src="holder.js/140x140/social" src="images/gente/carlos.jpg">
	    <h4>Carlos Espino</h4>
		<h6 class="muted" style="font-style:italic; height:50px;">Centro de Negocios FCAuach</h6>
	    <a href="#cesar" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
	    <!-- Modal -->
	    <div id="cesar" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        <h3 id="myModalLabel">Carlos Espino</h3>
	      </div>
	      <div class="modal-body">
	        <img class="img-circle" data-src="holder.js/140x140" src="images/gente/cesar.jpg">
	        <div style="width:80%; margin:auto;">
	          <hr class="featurette-divider" style="margin:10px 0;">
	          <p class="curriculum">
             	 Consultor empresarial en CRECE Chihuahua, gerente general COPARMEX, consultor Senior Independiente, Catédratico de la Academia de Empredurismo.
	          </p>
	        </div>
	      </div>
	        <div class="modal-footer">
	          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
	        </div>
	    </div>
	</div>
  
</div>
