<div class="span4 center">
	<div style="margin:20px 0;">
  <img class="img-circle" data-src="holder.js/140x140/social" src="images/gente/coaches/cecilia.jpg" style="width:200px;">
  <h4>Cecilia Ezquerro</h4>
  <h6 class="muted" style="font-style:italic; height:50px;">Emprendedora</h6>
  <a href="#cecilia" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="cecilia" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Cecilia Ezquerro</h3>
    </div>
    <div class="modal-body">
        <img class="img-circle" data-src="holder.js/140x140" src="images/gente/coaches/cecilia.jpg" style="width:180px;">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="curriculum">
        Fundadora y directora de LECO.mx, plataforma de e-commerce que actualmente vende lentes de contacto pero que tiene como objetivo revolucionar el servicio de la industria de visión de México.
<br /><br />
        Co-fundadora de GOYO ESTUDIO, colectivo de diseño con quien puede continuar a diseñar sin limitaciones y lo que rige la creación es su propia expresión de diseño, produciendo así colecciones de mobiliario y producto una vez al año.

<br /><br />
        Diseñadora Industrial de CENTRO, donde aprende habilidades de observación y síntesis, pensamiento creativo y conocimiento de materiales. Complementa su carrera al estudiar en el ECAL en Suiza y POLIMI en Italia. Gana el Premio Vitra 2010 en la Biennale de Bélgica, con CESTA y MARIA BONITA, piezas que formaron parte de la colección Destination:MÉXICO del MOMA y se exhibieron en Salone del Mobile Milán en 2011.
        </p>
      </div>
    </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
      </div>
  </div>
</div>
</div>
