<div class="span3">
	<div style="margin:20px 0;">
  <img class="img-circle" data-src="holder.js/140x140/social" src="images/gente/coaches/cecilia.jpg" style="width:200px;">
  <h4>Cecilia Ezquerro</h4>
  <h6 class="muted" style="font-style:italic; height:50px;">Emprendedora</h6>
  <a href="#cecilia" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="cecilia" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Cecilia Ezquerro</h3>
    </div>
    <div class="modal-body">
        <img class="img-circle" data-src="holder.js/140x140" src="images/gente/coaches/cecilia.jpg" style="width:180px;">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="curriculum">
        Mexican born in 1987. Studies Industrial Design at CENTRO Mexico City where she learns observation and synthesis skills, creative thinking, and material knowledge. Complements her carrer through academic exchanges at ECAL (CH) and POLIMI (IT). In 2010 wins the VITRA award of the INTERIEUR Biennale in Belgium with the project CESTA, later exhibited at iSALONI 2011 and part of the Destination:Mexico Collection at Moma Stores Worldwide. Visit more of her SCHOOL WORK.<br /><br />
After learning about different design approaches, she discovers the design perspective of which she is most passionate about: Product-System-Service Design, an approach to service and business problematics from a design perspective. And thus ventures into the world of entrepreneurship. Designs, co-founds, and directs INTEGRAL (coworking) and ESPACIO 310 (shared office-spaces). Different approaches to collaborative working, with which she learns complementary tools for project management and development. In order to keep in contact with other entrepreneurs within the startup community, she joins the STARTUP WEEKEND organizing committee of Mexico.<br /><br />
She currently works in MANDALAH as Project Manager and Innovation Consultant, where she finds herself constantly learning and developing new abilities within the Innovation, Trends, and Creative Consultancy worlds.  
        </p>
      </div>
    </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
      </div>
  </div>
</div>
</div>
