<div class="span3">
	<div style="margin:20px 0;">
	    <img class="img-circle" data-src="holder.js/140x140/social" src="images/gente/cesar.jpg">
	    <h4>César Cavazos</h4>
		<h6 class="muted" style="font-style:italic; height:50px;"> Emprendedor y Desarrollador Software</h6>
	    <a href="#cesar" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
	    <!-- Modal -->
	    <div id="cesar" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        <h3 id="myModalLabel">César Cavazos</h3>
	      </div>
	      <div class="modal-body">
	        <img class="img-circle" data-src="holder.js/140x140" src="images/gente/cesar.jpg">
	        <div style="width:80%; margin:auto;">
	          <hr class="featurette-divider" style="margin:10px 0;">
	          <p class="curriculum">
              Javascript hacker que trabaja en Appcelerator, startup ubicado en Silicon Valley en el cual se desempeña como arquitecto y consultor de aplicaciones móviles en distintas plataformas tales como iOS, Android, Windows Phone y HTML5. Además, experimenta con Google Glass en estos días y colabora con la comunidades Open Source de Titanium y Node.js – Ha dado conferencias respecto a seguridad en internet, open source y desarrollo de aplicaciones nativas con Titanium. Fiel creyente de que el café negro es capaz de transformarse en lineas de código de calidad y que la experiencia de usuario es mas importante que el diseño o la programación de un producto para ser exitoso.<br /><br />
              Egresado de la Universidad de La Salle Bajío de León, Guanajuato con mas de 6 años de experiencia en TI dentro de los cuales fundó dos empresas en México. Recientemente su trabajo ha consistido en diseñar y desarrollar entornos MBaaS (Mobile Backend as a Service) para empresas de Fortune 1000 que incluye sectores como prestación de servicios bancarios, aseguradoras, mantenimiento de propiedades, agencias de noticias internacionales, etc.<br /><br />
              Siempre abierto a una invitación para tomar un buen whisky escocés y platicar de tecnología. Lo puedes seguir en <a href="http://www.twitter.com/cesarcvz">@cesarcvz</a>.
	          </p>
	        </div>
	      </div>
	        <div class="modal-footer">
	          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
	        </div>
	    </div>
	</div>
  
</div>
