<div class="span3">
	<div style="margin:20px 0;">
	    <img class="img-circle" data-src="holder.js/140x140/social" src="images/gente/coaches/cristina.jpg" style="width:200px;">
	    <h4>Cristina Palacios</h4>
		 <h6 class="muted" style="font-style:italic; height:50px;">Socia Fundadora Aventones</h6>
	    <a href="#cristina" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
	    <!-- Modal -->
	    <div id="cristina" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        <h3 id="myModalLabel">Cristina Palacios</h3>
	      </div>
	      <div class="modal-body">
	        <img class="img-circle" data-src="holder.js/140x140" src="images/gente/coaches/cristina.jpg" style="width:180px;">
	        <div style="width:80%; margin:auto;">
	          <hr class="featurette-divider" style="margin:10px 0;">
	          <p class="curriculum">
            Con la misión de mejorar la calidad de vida de las ciudades, permitiendo que se compartan medios de transporte privado.
            <br /><br />
            En el 2010, creamos Aventones (www.aventones.com) para facilitar y promover que personas de una misma organización (empresa, universidad o instancia de gobierno) compartan sus autos. Hemos trabajado con más de 80 clientes en México, Chile, Colombia y Perú. En 2013, lanzamos Rides (www.rides.com.mx), una plataforma para que cualquier persona comparta el auto, ya sea para viajar de una ciudad a otra o dentro de la misma.
	          </p>
	        </div>
	      </div>
	        <div class="modal-footer">
	          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
	        </div>
	    </div>
	</div>
</div>
