<div class="span4">
	<div style="margin:20px 0;">
  <img class="img-circle" data-src="holder.js/140x140/social" src="images/gente/coaches/ellen.jpg" style="width:200px;">
  <h4>Ellen Dudley</h4>
  <h6 class="muted" style="font-style:italic; height:50px;">Co-Founder Lavadero.mx</h6>
  <a href="#ellen" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="ellen" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Ellen Dudley</h3>
    </div>
    <div class="modal-body">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/coaches/ellen.jpg" style="width:180px;">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="curriculum">
        <b>@elldudley</b>
        <br /><br />
        Ellen es Co-Fundadora y directora de operaciones Lavadero.mx. Ha iniciado tres compañías antes de Lavadero, en Irlanda, Nuevo York y San Francisco, una de ellas Peoplehunt.me con la que participó en Startup Chile.
        <br /><br />
        Tiene un título en Ingeniería Biomédica y 6 años de experiencia en Front End Development y UX design.
        </p>
      </div>
    </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
      </div>
  </div>
</div>
</div>
