<div class="span3">
	<div style="margin:20px 0;">
  <img class="img-circle" data-src="holder.js/140x140" src="images/gente/fernanda.jpg">
  <h4>Fernanda Guerra</h4>
  <h6 class="muted" style="font-style:italic; height:50px;"> Estratega digital creativa</h6>
  <a href="#fernanda" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="fernanda" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Fernanda Guerra</h3>
    </div>
    <div class="modal-body">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/fernanda.jpg">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="curriculum">Estratega digital creativa enfocada a la creación de comunidades 2.0.<br /><br />Tenía esperanzas en convertirme en un persona normal y decente pero luego la publicidad me volcó al dark side.<br /><br />Exvocera de Invisible Children en México (The Rescue, 2009), fundadora de Le Dodo (taller creativo) y egresada de la carrera de ciencias de la comunicación del ITESM Guadalajara.</p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
    </div>
    <!-- Modal -->
  </div>
  </div>
</div>
