<div class="span3">
	<div style="margin:20px 0;">
  <img class="img-circle" data-src="holder.js/140x140" src="images/gente/francisco.jpeg">
  <h4>Francisco Viramontes</h4>
  <h6 class="muted" style="font-style:italic; height:50px;"> Ingeniero Senior en Get Satisfaction</h6>
  <a href="#francisco" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="francisco" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Francisco Viramontes</h3>
    </div>
    <div class="modal-body">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/francisco.jpeg">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="curriculum">
          Desarrollador apasianado de Ruby capaz de completar proyectos complejos de pies a cabeza siguiendo la metodología XP junto con mejores practicas y principios de desarrollo ágil.<br /><br />
          Su talento esta especializado en el diseño de arquitectura de Backend, infraestructuras virtualizadas y optimización del desempeño.  Ama los buenos diseños, asimetría, estandares web, fuentes Helvetica y el aprendizaje de nuevos lenguajes de programación, herramientas Open Source y DBMS.<br /><br />
          Especialidades:Ruby, BDD-TDD, Ruby on Rails, Agile-Scrum-XP, Javascript, Mobile Web, Software Design Patterns, Scaling, Distributed Systems, Big Data
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
    </div>	<!-- Modal -->
  </div>
</div>
</div>
