<div class="span3 ">
	<div style="margin:20px 0;">
  <img class="img-circle" data-src="holder.js/140x140" src="images/gente/frank.jpg">
  <h4>Frank Denbow</h4>
  <a href="#frank" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="frank" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Frank Denbow</h3>
    </div>
    <div class="modal-body">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/frank.jpg">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="justify">
          Soy un desarrollador web / emprendedor de New Jersey<br /><br />
          Tengo la pasión por crear aplicaciones en la intersección de la música y tecnología, y trato de apoyar nuevas proyectos en mi area local.
          <br />
          Mi background es en ciencias de la computación(Carnegie Mellon SCS '08) y estoy involucrado de forma activa en la mayoría de los proyectos que iniciado.<br /><br />
          La mayor parte de mi inspiración viene de la cultura hip hop (especificamente en el baile y arte callejero).<br /><br />
          <b>Startup Threads (fundador)</b><br /><br />
  Startup Threads helps companies make promotional merchandise. We design, print and ship a variety of different company swag items and help them get these items in the hands of customers and fans.<br /><br />
          <b>Startup Digest & Startup Weekend (Organizador NYC)</b><br /><br />
          Startup Digest is a weekly events newsletter featuring the top events for entrepreneurs.<br /><br />
          Startup Weekend is a non-profit that helps develop entrepreneurs through immersive weekend events.<br /><br />
          <b>Academy For Software Engineering (Board Member)</b><br /><br />
          AFSE is a new high school focused on computer science education. I help with mentorship and internships.<br /><br />
          <b>Music Startup Meetup & Queens Tech Meetup (Board Member)</b><br /><br />
          Music Startup Meetup is a monthly gathering of music/tech entrepreneurs, talking about their struggles and successes.<br /><br />
          Queens Tech Meetup is a gathering of queens natives, hearing from experienced entrepreneurs on their journeys.<br /><br />
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
    </div>
  </div>
</div>
</div>
