<div class="span3">
	<div style="margin:20px 0;">
  <img class="img-circle" data-src="holder.js/140x140/social" src="images/gente/coaches/gibran.jpg" style="width:200px;">
  <h4>Gibran Arizona</h4>
  <h6 class="muted" style="font-style:italic; height:50px;">Gerente de Mercadotecnia de NEUBOX Internet</h6>
  <a href="#gibran" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="gibran" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Gibran Arizona</h3>
    </div>
    <div class="modal-body">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/coaches/gibran.jpg" style="width:180px;">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="curriculum">
        Mercadólogo de Corazón, inició desde muy temprana edad en el mundo de la mercadotecnia y los negocios, con casi 5 años de experiencia, actualmente es el Gerente de Mercadotecnia de NEUBOX Internet, la empresa más importante a nivel nacional en su ramo en proveer servicios de hospedaje web y registro de dominios. <br /><br />
        Cuenta con un pos-grado en estrategias de mercadotecnia y ventas y una especialidad en diseño gráfico de la comunicación visual. Se especializa en planeación estratégica y creatividad. Ferviente apacionado del neuromarketing y adicto a los deportes extremos.
        </p>
      </div>
    </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
      </div>
  </div>
</div>
</div>
