<div class="span3">
	<div style="margin:20px 0;">
	    <img class="img-circle" data-src="holder.js/140x140/social" src="images/gente/haro.jpg">
	    <h4>Jesus Haro Lozano</h4>
		<h6 class="muted" style="font-style:italic; height:50px;"> Creativo CrowdInt</h6>
	    <a href="#haro" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
	    <!-- Modal -->
	    <div id="haro" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        <h3 id="myModalLabel">Jesus Haro Lozano</h3>
	      </div>
	      <div class="modal-body">
	        <img class="img-circle" data-src="holder.js/140x140" src="images/gente/haro.jpg">
	        <div style="width:80%; margin:auto;">
	          <hr class="featurette-divider" style="margin:10px 0;">
	          <p class="curriculum">
              Diseñador Gráfico de profesión, aprendiz de herrero por herencia. Jesus Haro es un orgulloso integrante del equipo creativo de Crowd Interactive. Con 7 años jugando a hacer diseño, 4 de ellos en Crowd Interactive, Haro se ha visto envuelto en diversos tipos de proyectos; desde equipos de supervivencia contra zombies, hasta el diseño de la imagen y productos de una conferencia de desarrollo con sabor a lucha libre, mejor conocida como MagmaConf. Proyecto del cual tiene el honor de presumir que ha estado involucrado en él desde la primera edición.<br /><br />
              Además participar en proyectos externos, se considera a sí mismo un apoyo al servicio de la agustividad de los integrantes en Crowd Interactive, involucrándose en proyectos internos que ayudan a la comunicación y al reconocimiento social del trabajo que no siempre es visible a todo público.<br /><br />
              Haro es ilustrador y fotógrafo amateur, exigente consigo mismo y perfeccionista en su trabajo. No hay excusa para entregar un trabajo mal hecho; de hacerlo recibirás un simple: “las cosas se hacen bien o no se hacen” de su parte, aunque posiblemente lo dirá de una manera mucho más amable.
	          </p>
	        </div>
	      </div>
	        <div class="modal-footer">
	          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
	        </div>
	    </div>
	</div>
  
</div>
