<div class="span3">
	<div style="margin:20px 0;">
  <img class="img-circle" data-src="holder.js/140x140" src="images/gente/coaches/fernanda.jpg" style="width:200px;">
  <h4>Isabel Aranda</h4>
  <h6 class="muted" style="font-style:italic; height:50px;">Co-Fundadora de Mas52</h6>
  <a href="#fernanda" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="fernanda" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">isabel Guerra</h3>
    </div>
    <div class="modal-body">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/coaches/fernanda.jpg" style="width:180px;">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="curriculum">
        Escritora por pasión <br /><br />
        Ha representado a México en concursos internacionales de emprendimiento social e innovación tecnológica.<br /><br />
        Ha colaborado en el desarrollo y creación de empresas en diversas industrias.<br /><br />
        Co-Fundadora de Mas52, The Clients Factory y Drunkless Drive
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
    </div>
    <!-- Modal -->
  </div>
  </div>
</div>
