<div class="span3">
	<div style="margin:20px 0;">
	    <img class="img-circle" data-src="holder.js/140x140/social" src="images/gente/jeduan.jpg">
	    <h4>Jeduan Cornejo</h4>
		<h6 class="muted" style="font-style:italic; height:50px;">Director de tecnología Yogome</h6>
	    <a href="#jeduan" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
	    <!-- Modal -->
	    <div id="jeduan" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        <h3 id="myModalLabel">Jeduan Cornejo</h3>
	      </div>
	      <div class="modal-body">
	        <img class="img-circle" data-src="holder.js/140x140" src="images/gente/jeduan.jpg">
	        <div style="width:80%; margin:auto;">
	          <hr class="featurette-divider" style="margin:10px 0;">
	          <p class="curriculum">
            Jeduan Cornejo es un ingeniero de software mexicano.<br /><br />
            El es director de tecnología de Yogome, donde está ayudando a crear un camino para que los niños aprendan más allá de las aulas que utilizan dispositivos móviles.<br /><br />
            Ha trabajado en México y en los Estados Unidos desarrollando software, organizador de StartupBus México, domina 6 lenguajes de programación y tiene una aberración al mal café.
	          </p>
	        </div>
	      </div>
	        <div class="modal-footer">
	          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
	        </div>
	    </div>
	</div>
  
</div>
