<div class="span3">
	<div style="margin:20px 0;">
	    <img class="img-circle" data-src="holder.js/140x140/social" src="images/gente/jorge.jpg">
	    <h4>Jorge Ortiz</h4>
		<h6 class="muted" style="font-style:italic; height:50px;">Fundador y Socio Directivo de Carpo Capital LLC</h6>
	    <a href="#jorge" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
	    <!-- Modal -->
	    <div id="jorge" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        <h3 id="myModalLabel">Jorge Ortiz</h3>
	      </div>
	      <div class="modal-body">
	        <img class="img-circle" data-src="holder.js/140x140" src="images/gente/jorge.jpg">
	        <div style="width:80%; margin:auto;">
	          <hr class="featurette-divider" style="margin:10px 0;">
	          <p class="curriculum">
            Fundador y Socio Director de Carpo Capital LLC, firma especializada en Private Equity y Asset Management.<br /><br />
               Director de UBS, Nueva York<br /><br />
               Vicepresidente de Banca Privada en Citigroup, Nueva York.<br /><br />
               Profesor de Private Equity, Derivados, Valuación de Empresas y Finanzas Corporativas en el ITESM y en la UIA.<br /><br />
               Licenciado en Contabilidad y Finanzas por la Universidad de las Américas.<br /><br />
               MBA en Finanzas y Estrategia por el IPADE.<br /><br />
               Doctorando en Economía Financiera por la Universidad de Barcelona.<br /><br />
               Chartered Alternative Investments Analyst (CAIA), certificado por la NYSE y la AMIB como asesor financiero.<br /><br />
               Estructurador de los planes de estudio del “Regional Venture Capital Funds” de la AMEXCAP.<br /><br />                   Miembro del Consejo de Venture Capital de la Amexcap.<br /><br />
	          </p>
	        </div>
	      </div>
	        <div class="modal-footer">
	          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
	        </div>
	    </div>
	</div>
  
</div>
