<div class="span3">
	<div style="margin:20px 0;">
	    <img class="img-circle" data-src="holder.js/140x140/social" src="images/gente/juan.jpg">
	    <h4>Juan Holgado</h4>
		 <h6 class="muted" style="font-style:italic; height:50px;">Innovation Manager</h6>
	    <a href="#juan" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
	    <!-- Modal -->
	    <div id="juan" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        <h3 id="myModalLabel">Juan Holgado</h3>
	      </div>
	      <div class="modal-body">
	        <img class="img-circle" data-src="holder.js/140x140" src="images/gente/juan.jpg">
	        <div style="width:80%; margin:auto;">
	          <hr class="featurette-divider" style="margin:10px 0;">
	          <p class="curriculum">
              Actualmente, como Innovation Manager en el Parque de Innovación De La Salle, realizando labores de asesoramiento, coaching y realización de ofertas y proyectos de innovación.<br /><br />
              Realizando conferencias tanto en el área de innovación para empresas, como de proyectos de innovación social en diferentes foros y congresos.<br /><br />
              Planeación y ejecución de proyectos de innovación en gobierno como el desarrollo del Modelo de Barrio Sustentable para IPLANEG(Instituto de Planeación del Estado de Guanajuato), Identificación de Actividades Productivas en las Joyas para el IMPLAN (Instituto Municipal de Planeación de la ciudad de León) o en diversas empresas en sectores como el calzado, construcción o educativo.<br /><br />
              Realizando así mismo labores de asesoramiento en modelos, procesos y definición de productos y servicios para empresas, dentro de servicios de innovación para empresas: definición de modelos de negocios, identificación de propuesta de valor o mapa de retos para la organización.
	          </p>
	        </div>
	      </div>
	        <div class="modal-footer">
	          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
	        </div>
	    </div>
	</div>
</div>
