<div class="span3">
	<div style="margin:20px 0;">
	    <img class="img-circle" data-src="holder.js/140x140/social" src="images/gente/lulo.jpg">
	    <h4>Luis López</h4>
		<h6 class="muted" style="font-style:italic; height:50px;">CEO de Bandastic</h6>
	    <a href="#lulo" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
	    <!-- Modal -->
	    <div id="lulo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        <h3 id="myModalLabel">Luis López</h3>
	      </div>
	      <div class="modal-body">
	        <img class="img-circle" data-src="holder.js/140x140" src="images/gente/lulo.jpg">
	        <div style="width:80%; margin:auto;">
	          <hr class="featurette-divider" style="margin:10px 0;">
	          <p class="curriculum">
              Luis López, known in the startup community as Lulo, is cofounder and CEO of Bandtastic, a Mexico City based music company.<br /><br />
              As a designer, Lulo has worked in several different projects such as Unda, Cloudspotting, Secretmention, Unaplayera.com, Startupbuzz.la and more...<br /><br />
              His projects have been funded by Wayra, InvestoMex and 500 Startups.<br /><br />
              He enjoys talking about his experience in events and conferences. He has spoken on TEDxDF, Tec de Monterrey, UPAEP, UDEM, Startup Weekend and so on.<br /><br />
              Lulo is also a self-taught drummer, a music junkie and a photography aficionado.<br /><br />
              You can follow him on twitter @lulomx or read more about him at http://lulo.mx
	          </p>
	        </div>
	      </div>
	        <div class="modal-footer">
	          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
	        </div>
	    </div>
	</div>
  
</div>
