<div class="span3">
	<div style="margin:20px 0;">
	    <img class="img-circle" data-src="holder.js/140x140/social" src="images/gente/luis.jpg">
	    <h4>Luis Cabrera</h4>
		<h6 class="muted" style="font-style:italic; height:50px;"> Emprendedor Social apasionado</h6>
	    <a href="#luis" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
	    <!-- Modal -->
	    <div id="luis" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        <h3 id="myModalLabel">Luis Cabrera</h3>
	      </div>
	      <div class="modal-body">
	        <img class="img-circle" data-src="holder.js/140x140" src="images/gente/luis.jpg">
	        <div style="width:80%; margin:auto;">
	          <hr class="featurette-divider" style="margin:10px 0;">
	          <p class="curriculum">
            Emprendedor Social apasionado, Co-fundador de Unreasonable México, Gerente de Endeavor Guanajuato, colaborador y desarrollador de nuevos proyectos para Desarrollo de Emprendedores AC.<br /><br />
            Antes de entrar en el mundo de las empresas sin fines de lucro, se desempeño como emprendedor en la industria de alimentos y bebidas, así como proyectos de educación ambiental infantil.<br /><br />
            Es Licenciado en Derecho por la Universidad Panamericana de la Ciudad de México y MBA, por la Universidad Adolfo Ibáñez en Santiago de Chile con las más altas distinciones.<br /><br />
            Escribe una columna quincenal en el periódico El Hidrocálido, ha sido catedrático en cursos de emprendimiento en la Universidad Panamericana y el Tecnológico de Monterrey Campus Aguascalientes.
	          </p>
	        </div>
	      </div>
	        <div class="modal-footer">
	          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
	        </div>
	    </div>
	</div>
  
</div>
