<div class="span3 ">
	<div style="margin:20px 0;">
    <img class="img-circle" data-src="holder.js/140x140/social" src="images/gente/coaches/may.jpg" style="width:200px;">
  <h4>May Alba</h4>
  <h6 class="muted" style="font-style:italic; height:50px;">Fundadora y CEO de rubberit.co</h6>
  <a href="#may" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="may" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">May Alba</h3>
    </div>
    <div class="modal-body">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/coaches/may.jpg" style="width:180px;">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="curriculum">
          Fundadora y CEO de rubberit.co; May le está poniendo freno a los embarazos no-planeados y al contagio de ITS entre adolescentes en Latino América.<br /><br />
          Lleva una década como ferviente colaboradora de ONGs, directora de Centros Culturales, y apasionada creadora de proyectos con alto impacto social.<br /><br />
          Una de los originales Young Offenders. Dueña de un Ten Pesos Bunny. Su palabra favorita es F*CK (y sus derivados), lo cual deja atónitos y/o llorando a más de dos por día. Sobrevive consumiendo únicamente cantidades industriales de Coca-Cola.
        </p>
      </div>
    </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
      </div>
  </div>
</div>
</div>
