<div class="span3">
	<div style="margin:20px 0;">
  <img class="img-circle" data-src="holder.js/140x140" src="images/gente/coaches/monica.jpg" style="width:200px;">
  <h4>Monica Guerra</h4>
  <h6 class="muted" style="font-style:italic; height:50px;">Creativa e Inventora</h6>
  <a href="#monica" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="monica" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Monica Guerra</h3>
    </div>
    <div class="modal-body">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/coaches/monica.jpg" style="width:180px;">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="curriculum">
        Creativa e inventora, Maestra en Diseño Gráfico,  Ilustradora de corazón, lápiz y papel, Académica de la Universidad Iberoamericana.
        <br /><br />
        <ul>
          <li>
Miembro del Proyecto "Yo Soy México-Fotografia"
          </li>
          <li>
Miembro del Proyecto "MuJeres, letras e Ilustración"
          </li>
          <li>
Fundadora de: "Linda Morenita"
          </li>
        </ul>
Y la chamba más chida que tiene es ser mamá de Matías y Lola.
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
    </div>
    <!-- Modal -->
  </div>
  </div>
</div>
