<div class="span3 ">
	<div style="margin:20px 0;">
  <img class="img-circle" data-src="holder.js/140x140" src="images/gente/mumo.jpg">
  <h4>Carlos Muñiz</h4>
  <h6 class="muted" style="font-style:italic; height:50px;">FrontEnd Developer</h6>
  <a href="#mumo" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="mumo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Carlos Muñiz</h3>
    </div>
    <div class="modal-body">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/mumo.jpg">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="justify">
        Diseñador, productor multimedia, dibujante, escultor y pintor, pero sobre todo un programador apasionado. Siempre Interesado en nuevos e innovadores proyectos buscando nuevas formas de interacción entre las distintas tecnologías.<br /><br />
        Actualmente trabaja en Crowd Interactive como un all-round developer donde es exigente en el detalle, buenas practicas y diseño en sus proyectos; siempre al tanto de su equipo y dispuesto a enseñar y aprender mediante la colaboración.
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
    </div>
  </div>
</div>
</div>
