<div class="span3">
	<div style="margin:20px 0;">
  <img class="img-circle" data-src="holder.js/140x140/social" src="images/gente/coaches/nora.jpg" style="width:200px;">
  <h4>Nora Mora</h4>
  <h6 class="muted" style="font-style:italic; height:50px;">Software Engineer</h6>
  <a href="#nora" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="nora" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Nora Mora</h3>
    </div>
    <div class="modal-body">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/coaches/nora.jpg" style="width:180px;">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="curriculum">
Me gradué como Ingeniera en Sistemas Computacionales , siempre tuve un amor secreto por el diseño gráfico lo que me hizo enfocarme en el desarrollo de aplicaciones Web .
<br /><br />
Siempre trato de aprender algo nuevo o mejorar mis habilidades y así es como terminé aprendiendo Ruby on Rails , me gustó tanto que decidí seguir en ese camino .
<br /><br />
Me convertí en desarrolladora web apasionada y por suerte puedo decir que durante los últimos cuatro años estoy haciendo lo que amo y que amo lo que hago como Ingeniera de Software en Crowd Interactive.
<br /><br />
Estoy interesada en el desarrollo de aplicaciones útiles y bellas, siempre entusiasmada con retos, proyectos innovadores, trabajo en equipo y soluciones creativas.
<br /><br />
Hace poco me fui involucrando más con las mujeres en las iniciativas de tecnología compartiendo mis conocimientos y aprendiendo de los demás en una comunidad local llamada Codificadas y la comunidad mundial Woman Who Code.
        </p>
      </div>
    </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
      </div>
  </div>
</div>
</div>
