<div class="span3">
	<div style="margin:20px 0;">
  <img class="img-circle" data-src="holder.js/140x140" src="images/gente/coaches/paco.jpg" style="width:200px;">
  <h4>Francisco Bolaños</h4>
  <h6 class="muted" style="font-style:italic; height:50px;">IoT BU Consulting Systems Engineer</h6>
  <a href="#paco" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="paco" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Francisco Bolaños</h3>
    </div>
    <div class="modal-body">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/coaches/paco.jpg" style="width:180px;">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="curriculum">
        Paco is the IoT BU Consulting Systems Engineer for Mexico and CANSAC region, focused on developing and supporting projects on Energy, Oil and Gas, Transportation, Mining, and Manufacturing industries.
        <br /><br />
        Paco has 20 years of experience in the Telecommunications industry, developing projects on the Enterprise, and Service Providers fields for international firms such as Getronics, Anritsu, and Alcatel. Paco joined Cisco back in 2000 in the Service Providers Group,  Supporting Key accounts, as Nextel International, USA Cell, Telefonica, Axtel, and in 2007 moved into the Public Sector Group, focusing on Education and Federal Government solutions, supporting the Education and Telecommunications Ministries in Mexico, and later on, specialized on O&G and Energy, supporting major accounts PEMEX and CFE since 2009.
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
    </div>
    <!-- Modal -->
  </div>
  </div>
</div>
