<div class="span3">
	<div style="margin:20px 0;">
  <img class="img-circle" data-src="holder.js/140x140" src="images/gente/paulina.jpg">
  <h4>Paulina Llamas</h4>
  <h6 class="muted" style="font-style:italic; height:50px;">Diseñadora gráfica y emprendedora</h6>
  <a href="#paulina" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="paulina" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Paulina Llamas</h3>
    </div>
    <div class="modal-body">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/paulina.jpg">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="curriculum">
          Paulina Llamas, diseñadora gráfica egresada de la Universidad Anáhuac.<br /><br />
          Fundadora de la revista de música Sabotage Magazine. Ha participado en 2 ediciones de Startup Weekend, así como en el Startup Bus 2013 concursando con Chromatix App.<br /><br />
          Actualmente trabaja en Flock, diseñando para American Eagle y Telmex.
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
    </div>
    <!-- Modal -->
  </div>
  </div>
</div>
