<div class="span3">
	<div style="margin:20px 0;">
	    <img class="img-circle" data-src="holder.js/140x140/social" src="images/gente/pedro.jpg" style="width:200px;">
	    <h4>Pedro Luis López de Alba</h4>
		 <h6 class="muted" style="font-style:italic; height:50px;">Consultor en Innovación</h6>
	    <a href="#pedro" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
	    <!-- Modal -->
	    <div id="pedro" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        <h3 id="myModalLabel">Pedro Luis López de Alba</h3>
	      </div>
	      <div class="modal-body">
	        <img class="img-circle" data-src="holder.js/140x140" src="images/gente/pedro.jpg" style="width:180px;">
	        <div style="width:80%; margin:auto;">
	          <hr class="featurette-divider" style="margin:10px 0;">
	          <p class="curriculum">
            Consultor en Innovación Social, Innovación Tecnológica, Investigador en Química Analítica, Gestor de la Innovación dentro del Parque de Innovación Social de la Salle A.C.
	          </p>
	        </div>
	      </div>
	        <div class="modal-footer">
	          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
	        </div>
	    </div>
	</div>
</div>
