<div class="span3 gente">
  <img class="img-circle" data-src="holder.js/140x140/social" src="images/gente/sinue.jpg">
  <h4>Sinue Garcia</h4>
  <a href="#sinue" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="sinue" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Sinue Garcia</h3>
    </div>
    <div class="modal-body">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/sinue.jpg">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="curriculum">
          Energic business professional with experience building companies from the ground up, with passion for thinking, building and shipping software, whether a large scale web applications, or medium enterprise solutions. As an architect/product designer, developer, manager , over 10 years of industry experience including many major product releases for government, and private sector.<br /><br />
          Strong passion for financial engineering and self-taught futures, options market analysis and quant strategies.<br /><br />
          Managed and worked with both large and small multi disciplinary teams as well as geographically dispersed teams.
        </p>
      </div>
    </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
      </div>
  </div>
</div>
