<div class="span3">
	<div style="margin:20px 0;">
  <img class="img-circle" data-src="holder.js/140x140/social" src="images/gente/coaches/vivi.jpg" style="width:200px;">
  <h4>Viviana Palacios</h4>
  <h6 class="muted" style="font-style:italic; height:50px;">Software Engineer Rockstar</h6>
  <a href="#vivi" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="vivi" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Viviana Palacios</h3>
    </div>
    <div class="modal-body">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/coaches/vivi.jpg" style="width:180px;">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="curriculum">
        Soy una mexicana que le gusta la tecnología y el estilo. Por eso, decidí estudiar Ingeniería de Software, después de 4 años obtuve mi título y me enamore del mundo de software. Desde entonces he trabajado en el desarrollo de aplicaciones web y móviles. 
<br /><br />
Me gusta programar, pero mi parte favorita del desarrollo de software es transformar las ideas de los clientes en aplicaciones eficientes y usables. Lo que me llevo a ser Product Manager <b>@CrowdInt.</b>
<br /><br />
        Desde hace casi dos años decidí unirme al ejercito de Codificadas para impulsar mujeres al mundo de la tecnología y mostrarles que no es tan difícil como parece.
        </p>
      </div>
    </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
      </div>
  </div>
</div>
</div>
