  <!-- Que es Startup Weekend -->
  <div class="featurette" id="about">
    <div class="row">
      <div class="span6">
        <h1 class="featurette-heading ">¿Qué es <span class="muted">Startup Weekend?</span></h1>
        <hr class="featurette-divider" style="margin:5px 0;">
        <p class="lead">
        <b>APRENDE A CONSTRUIR UNA EMPRESA EN 54 HORAS</b>
        Startup Weekend es una red global de líderes y emprendedores apasionados con la misión de inspirar, educar y empoderar a las personas, equipos y comunidades sobre cultura emprendedora. <a href="#about_sw" role="button" class="btn btn-small btn-success" data-toggle="modal">+ info</a></p>
        <p> Te invitamos a compartir ideas, formar equipos y crear startups.</p>
      </div>
      <!-- Modal -->
      <div id="about_sw" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">¿Qué es Startup Weekend?</h3>
        </div>
        <div class="modal-body">
          <div style="width:80%; margin:auto;">
            <p style="text-align:justify">
            Startup Weekend es un evento de 54 horas en un fin de semana entero donde equipos multidisciplinarios desarrollan ideas de negocios e incrementan sus capacidades como potenciales emprendedores de alto impacto.<br /><br />
            Los participantes se presentan el viernes para presentar sus ideas. Las mejores 10 se escogen, y forman equipos para trabajar en esos proyectos durante el fin de semana con la ayuda de mentores y facilitadores.<br /><br />
            Para el final del domingo, todos los equipos presentan su proyecto de negocios antes un jurado. Y lo más importante, no necesitas traer una idea. Puedes unirte al equipo que encuentres más atractivo para trabajar en ese proyecto.<br /><br />
            Startup Weekeend León se llevará a cabo en el Parque de Innovación De La Salle Bajío ¿Quiénes pueden participar? Desarrolladores y programadores de cualquier lenguaje, diseñadores gráficos, especialistas en UX, mercadólogos, administradores de negocios, y emprendedores.
            </p>
          </div>
        </div>
        <div id="about_sw" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
          </div>
        </div>
      </div>
      <div class="span6">
        <iframe src="http://player.vimeo.com/video/55042366"  width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div>
  </div>
