<div class="row" id="boletos">
  <h1 class="titulo_mentores">Aquiere tu <span class="muted">Boleto</span></h1>
  <div class="row center">
    <div class="span12">
      <a href="https://www.eventbrite.com/e/leon-startup-weekend-112014-tickets-13850143151" role="button" class="btn btn-large btn-success">BOLETOS</a>
    </div>
  </div>
</div>
