<div class="row" id="boletos">
  <h1 class="titulo_mentores">Adquiere tu <span class="muted">Boleto</span></h1>
  <h3 class='center'>
    Tu boleto incluye <span class="muted">todos los alimentos así como snacks y café, muuucho café</span> durante todo el evento, recuerda que tendremos un espacio para dormir asi que trae tu sleeping y si es posible tu taza o termo de café !!.
  </h3>
  <div class="row center">
    <div class="span12">
      <div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=27152929142&ref=etckt" frameborder="0" height="750" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" href="http://www.eventbrite.com/r/etckt">Event management</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" href="https://swleonioe.eventbrite.com/?ref=etckt">León Startup Weekend 11/2014</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>
    </div>
  </div>
</div>
