<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="images/slides/swleon.jpg" alt="">
      <div class="container">
        <div class="carousel-caption" id="frase">
          <h1>" El éxito no es para los que creen que lo pueden hacer, sino para los que lo hacen "</h1>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/slides/slide-01.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Construyendo emprendedores.</h1>
          <p class="lead">Próximamente.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/slides/slide-03.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Startup Weekend</h1>
          <p class="lead">Podrás conocer personas igual de motivadas que tú para generar una empresa, validar el valor de tus ideas y nuevas formas de enfrentar los retos para crear tú startup.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/slides/slide-02.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>La mejor experiencia educativa para emprendedores</h1>
          <p class="lead">Red global de líderes y emprendedores apasionados con la misión de inspirar, educar y empoderar a las personas, equipos y comunidades sobre cultura emprendedora.</p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
