<div class="row" id="mentores">
  <h1 class="titulo_mentores">Quienes estarán al pendiente de ti <span class="muted">Coaches</span></h1>
  <div class="row center">
    <div class="span3">
      <%= partial 'coaches/fernanda' %>
    </div>
    <div class="span3">
      <%= partial 'coaches/alberto' %>
    </div>
    <div class="span3">
      <%= partial 'coaches/sinue' %>
    </div>
    <div class="span3">
      <%= partial 'coaches/benjamin' %>
    </div>
  </div>
  <div class="row center">
    <div class="span3">
      <%#= partial 'coaches/cristina' %>
    </div>
    <div class="span3">
      <%#= partial 'coaches/pedro' %>
    </div>
    <div class="span3">
      <%#= partial 'coaches/' %>
    </div>
    <div class="span3">
      <%#= partial 'coaches/pedro' %>
    </div>
  </div>
</div>
