<div class="featurette" id="rides">
  <div class="row">
    <div class="span6">
      <h1 class="featurette-heading ">Paulina Arreola</h1>
      <hr class="featurette-divider" style="margin:5px 0;">
      <h4 class="muted">Nuestro Facilitadora</h4>
      <p>
      <b>@pauarreola</b>
      <br />
        Facilitadora, organizadora y fan #1 de Startup Weekend. Paulina es CEO y cofundadora de Lavadero, el Startup que se encarga de desaparecer ropa sucia desde tu celular. Ha estado involucrada con la organización de diferentes eventos de emprendimiento, innovación y tecnología, todo esto con el objetivo de conectar y fortalecer el talento de personas que tienen la curiosidad en emprender.
      </p>
    </div>
    <div class="span6 center">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/facilitador/paulina.jpg" style="width:250px;">
    </div>
  </div>
</div>
