<div class="featurette" id="rides">
  <div class="row">
    <div class="span6">
      <h1 class="featurette-heading ">Elizabeth Becerril</h1>
      <hr class="featurette-divider" style="margin:5px 0;">
      <h4 class="muted">Nuestra Facilitadora</h4>
      <br />
      <b>Jefatura de Vinculación de Comunidades</b>
      Apoyar en la generación de cultura emprendedora dentro y hacia afuera de la institución.<br />
      Diseño e implementación de programas formativos de emprendimiento.<br />
      Organización e implementación de eventos relacionados con emprendimiento y tecnología.<br />
      Gestión de relaciones con aliados estratégicos.
      </p>
    </div>
    <div class="span6 center">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/facilitador/eli.jpg" style="width:250px;">
    </div>
  </div>
</div>
