<div class="featurette" id="rides">
  <div class="row">
    <div class="span6">
      <h1 class="featurette-heading ">Jhon Cortes</h1>
      <hr class="featurette-divider" style="margin:5px 0;">
      <h4 class="muted">Nuestro Facilitador</h4>
      <p>
      Analista TI para proyectos de alto impacto tecnológico, mentor de la aceleradora Blue Print Innovation en la ciudad de México, Software Designer, Co-fundador de Partners For Startups. Analista TI Angel Ventures México - Colombia.
      </p>
    </div>
    <div class="span5 center">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/facilitador/jhon.jpg" style="width:250px;">
    </div>
  </div>
</div>
