<div class="featurette" id="rides">
  <div class="row">
    <div class="span6">
      <h1 class="featurette-heading ">Paulina Arreola</h1>
      <hr class="featurette-divider" style="margin:5px 0;">
      <h4 class="muted">Nuestro Facilitadora</h4>
      <p>
      Fundadora de Lavadero.co que junto con Ellen Dudley, ayudan a las personas a realizar su servicio de lavandería que gracias a la integración de la tecnología, no sólo resulta menos complicado de hacer si no que le agrega ventajas que difícilmente, podrías encontrar en servicios tradicionales.
      </p>
    </div>
    <div class="span6 center">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/facilitador/paulina.jpg" style="width:250px;">
    </div>
  </div>
</div>
