<div class='row'>
  <div class='center'>
    <h2>  <span class='muted'>ยก Y adivinen que !</span> </h2>
    <img src="images/patrocinadores/global.png" />
    <h4>
    Seremos parte del este movimiento internacional.<br>
      Chequen todos los datos
      <a href="http://www.globalstartupbattle.co/">aqui.</a>
    </h4>
  </div>

</div>
