<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>Startup Weekend León</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Startup Weekend León">
<meta name="author" content="Gize Bonilla, Ismael G Marín">
<!-- Le styles -->
<%= bootstrap_assets %>
<link rel="stylesheet" media="screen, projection" type="text/css" href="/application.css">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
<!-- NAVBAR ================================================== -->
<div class="navbar-wrapper">
  <div class="container">

    <div class="span3">
      <img src="images/logoH.png" style="width:270px;"/>
    </div>
    <div class="span8">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <!-- Responsive Navbar Part 1 -->
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse">
            <ul class="nav lubalin">
              <li><a href="#about">¿Qué es Startup Weekend?</a></li>
              <li><a href="#programa">Programa</a></li>
              <li><a href="#sede">Sede</a></li>
              <li><a href="#mentores">Mentores</a></li>
              <li><a href="#boletos">Boletos</a></li>
              <li><a href="#patrocinadores">Patrocinadores</a></li>
              <li><a href="#contacto">Contacto</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!-- /.navbar-inner -->
      </div><!-- /.navbar -->
    </div>
  </div> <!-- /.container -->
</div><!-- /.navbar-wrapper -->

<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="images/slides/swleon.jpg" alt="">
      <div class="container">
        <div class="carousel-caption" style="max-width: 80%; margin:200px auto 0; text-align:center;">
          <h1>" El éxito no es para los que creen que lo pueden hacer, sino para los que lo hacen "</h1>
          <h3 style="margin-top:20px;">19 - 21 Julio, León, Guanajuato.</h3>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/slides/slide-01.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Construyendo emprendedores.</h1>
          <p class="lead">Obtén tu entrada.</p>
          <a class="btn btn-large btn-primary" href="#boletos">Boletos</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/slides/slide-03.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Startup Weekend</h1>
          <p class="lead">Podrás conocer personas igual de motivadas que tú para generar una empresa, validar el valor de tus ideas y nuevas formas de enfrentar los retos para crear tú startup.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="images/slides/slide-02.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>La mejor experiencia educativa para emprendedores</h1>
          <p class="lead">Red global de líderes y emprendedores apasionados con la misión de inspirar, educar y empoderar a las personas, equipos y comunidades sobre cultura emprendedora.</p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

<div class="container marketing">


  <!-- Que es Startup Weekend -->
  <div class="featurette" id="about">
    <div class="row">
      <div class="span6">
        <h1 class="featurette-heading ">¿Qué es <span class="muted">Startup Weekend?</span></h1>
        <hr class="featurette-divider" style="margin:5px 0;">
        <p class="lead">
        <b>APRENDE A CONSTRUIR UNA EMPRESA EN 54 HORAS</b>
        Startup Weekend es una red global de líderes y emprendedores apasionados con la misión de inspirar, educar y empoderar a las personas, equipos y comunidades sobre cultura emprendedora. <a href="#about_sw" role="button" class="btn btn-small btn-success" data-toggle="modal">Más Info</a></p>
        <p> Te invitamos a compartir ideas, formar equipos y crear startups.</p>
      </div>
        <!-- Modal -->
        <div id="about_sw" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">¿Qué es Startup Weekend?</h3>
          </div>
          <div class="modal-body">
            <div style="width:80%; margin:auto;">
              <p style="text-align:justify">
              Startup Weekend es un evento de 54 horas en un fin de semana entero donde equipos multidisciplinarios desarrollan ideas de negocios e incrementan sus capacidades como potenciales emprendedores de alto impacto.<br /><br />
              Los participantes se presentan el viernes para presentar sus ideas. Las mejores 10 se escogen, y forman equipos para trabajar en esos proyectos durante el fin de semana con la ayuda de mentores y facilitadores.<br /><br />
              Para el final del domingo, todos los equipos presentan su proyecto de negocios antes un jurado. Y lo más importante, no necesitas traer una idea. Puedes unirte al equipo que encuentres más atractivo para trabajar en ese proyecto.<br /><br />
              Startup Weekeend León se llevará a cabo en el Parque de Innovación De La Salle Bajío ¿Quiénes pueden participar? Desarrolladores y programadores de cualquier lenguaje, diseñadores gráficos, especialistas en UX, mercadólogos, administradores de negocios, y emprendedores.
              </p>
            </div>
          </div>
        <div id="about_sw" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
          </div>
        </div>
      </div>
      <div class="span6">
        <iframe src="http://player.vimeo.com/video/55042366"  width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">
  <!-- Que es Sede -->
  <div class="featurette" id="sede">
    <div class="row">
      <div class="span4">
        <h1 class="featurette-heading ">Nuestra Sede</h1>
        <hr class="featurette-divider" style="margin:5px 0;">
        <p style="text-align:left;">
        <span class="muted">Parque de Innovación De La Salle Bajío</span>
        Av. Universidad 602
        Lomas del Campestre, 37150
        León, Guanjuato.
        </p>
        <img style="width:100%;" src="images/DeLaSalle.png">
      </div>
      <div class=span8>
        <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=delasallebajio&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=68.054114,96.943359&amp;ie=UTF8&amp;hq=delasallebajio&amp;hnear=&amp;t=m&amp;cid=632305413263876657&amp;ll=21.150635,-101.710825&amp;spn=0.024015,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=delasallebajio&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=68.054114,96.943359&amp;ie=UTF8&amp;hq=delasallebajio&amp;hnear=&amp;t=m&amp;cid=632305413263876657&amp;ll=21.150635,-101.710825&amp;spn=0.024015,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left"></a></small>
      </div>
    </div>

    <div>
      <hr class="featurette-divider">

      <!-- Que es Startup Weekend -->

      <div class="featurette" id="mentores">

        <h1 style="font-size:40pt; text-align:center; padding-bottom:40px;">Jueces para <span class="muted">Startup Weelend León</span></h1>
      </div><!-- /.span4 -->
      <div class="row center">
      <div class="span3">
        <img class="img-circle" data-src="holder.js/140x140" src="images/gente/ophelia.jpg">
        <h4>Ophelia Pastrana</h4>
        <a href="#ophelia" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
        <!-- Modal -->
        <div id="ophelia" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Ophelia Pastrana</h3>
          </div>
          <div class="modal-body">
            <img class="img-circle" data-src="holder.js/140x140" src="images/gente/ophelia.jpg">
            <div style="width:80%; margin:auto;">
              <hr class="featurette-divider" style="margin:10px 0;">
              <p style="text-align:justify">
              Desde el año 2000 ha vivido en Bogotá, Miami, Sydney y en México en lo que finalizaba una licenciatura en Física y luego una Maestría en Econometría. Se dedica a la consultoría de social media para empresas internacionales.<br /><br />
              Es una gran promotora de la cultura digital y de la penetración tecnológica dentro de las empresas.<br /><br />
              Es co-fundadora de la comunidad más grande de tecnólogos de México, y una de las de mayor crecimiento de América Latina “Tequila Valley” y cofundadora de “SCLBITS". Recientemente se unió a "Kraken Comunicación", donde se encarga de dirigir estrategias de difusión y marketing digital para marcas A+ mexicanas.<br /><br />
              Realiza y publica estudios e investigaciones para definir las mejores prácticas a ejecutar para facilitar la adopción de la tecnología en las empresas y es profesora de Estrategias de Negocio en Redes Sociales en el Tecnológico de Monterrey.
              </p>
            </div>
          </div>
        <div id="ophelia" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
          </div>
        </div>
      </div>
      <!-- Modal -->
        <div class="span3">
          <img class="img-circle" data-src="holder.js/140x140" src="images/gente/christian.jpg">
          <h4>Christian Aguirre</h4>
          <a href="#christian" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
          <!-- Modal -->
          <div id="christian" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Christian Aguirre</h3>
            </div>
            <div class="modal-body">
              <img class="img-circle" data-src="holder.js/140x140" src="images/gente/christian.jpg">
              <div style="width:80%; margin:auto;">
                <hr class="featurette-divider" style="margin:10px 0;">
                <p>Parte del equipo de Alta Ventures. Es miembro fundador del E | 100 programa de México.<br /><br />Como miembro del equipo de Alta Ventures, Christian ayudó a la recaudación de fondos de capital de riesgo Alta.<br /><br />En las operaciones, participa en la contratación, selección, análisis y realización de due diligence de las inversiones en Alta.</p>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
            </div>
          </div>

        </div><!-- /.span4 -->
        <div class="span3">
          <img class="img-circle" data-src="holder.js/140x140" src="images/gente/frank.jpg">
          <h4>Frank Denbow</h4>
          <a href="#frank" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
          <!-- Modal -->
          <div id="frank" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Frank Denbow</h3>
            </div>
            <div class="modal-body">
              <img class="img-circle" data-src="holder.js/140x140" src="images/gente/frank.jpg">
              <div style="width:80%; margin:auto;">
                <hr class="featurette-divider" style="margin:10px 0;">
                <p>Music + Tech. Dancer. Developer de @StartupThreads / @Picsicle / @songsicle, Organizador de @StartupWeekend / @StartupDigest / @MusicStartup, @afsenyc Junta Directiva</p>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
            </div>
          </div>

        </div><!-- /.span4 -->
        <div class="span3">
          <img class="img-circle" data-src="holder.js/140x140" src="images/gente/david.jpg">
          <h4>David Padilla</h4>
          <a href="#David" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
          <!-- Modal -->
          <div id="David" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">David Padilla</h3>
            </div>
            <div class="modal-body">
              <img class="img-circle" data-src="holder.js/140x140" src="images/gente/david.jpg">
              <div style="width:80%; margin:auto;">
                <hr class="featurette-divider" style="margin:10px 0;">
                <p>CEO CrowdInt apasionado de la tecnología, speaker, developer</p>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
            </div>
          </div>

        </div><!-- /.span4 -->

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row center">
      <h1 style="font-size:35pt; text-align:center; padding-bottom:40px;"> Los que nos ayudarán : <span class="muted">Coaches</span></h1>
      <div class="row ">
        <div class="span3">
          <img class="img-circle" data-src="holder.js/140x140" src="images/gente/fernanda.jpg">
          <h4>Fernanda Guerra</h4>
          <a href="#Fernanda" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
          <!-- Modal -->
          <div id="Fernanda" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Fernanda Guerra</h3>
            </div>
            <div class="modal-body">
              <img class="img-circle" data-src="holder.js/140x140" src="images/gente/fernanda.jpg">
              <div style="width:80%; margin:auto;">
                <hr class="featurette-divider" style="margin:10px 0;">
                <p>Estratega digital creativa enfocada a la creación de comunidades 2.0.<br /><br />Tenía esperanzas en convertirme en un persona normal y decente pero luego la publicidad me volcó al dark side.<br /><br />Exvocera de Invisible Children en México (The Rescue, 2009), fundadora de Le Dodo (taller creativo) y egresada de la carrera de ciencias de la comunicación del ITESM Guadalajara.</p>
              </div>

            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
            </div>
            <!-- Modal -->
          </div>
        </div><!-- /.span4 -->
        <div class="span3">
          <img class="img-circle" data-src="holder.js/140x140" src="images/gente/francisco.jpeg">
          <h4>Francisco Viramontes</h4>
          <a href="#Francisco" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
          <!-- Modal -->
          <div id="Francisco" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Francisco Viramontes</h3>
            </div>
            <div class="modal-body">
              <img class="img-circle" data-src="holder.js/140x140" src="images/gente/francisco.jpeg">
              <div style="width:80%; margin:auto;">
                <hr class="featurette-divider" style="margin:10px 0;">
                <p>Mac lover y Rubyst, con experiencia en la construcción de Rubí rápido, seguro y fiable en aplicaciones empresariales Rails.</p>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
            </div>	<!-- Modal -->
          </div>
        </div><!-- /.span4 -->
      </div>
    </div>


    <hr class="featurette-divider">
    <div class="row">
      <h3 style="font-size:30pt; text-align:center; padding-bottom:40px;">Los que hacemos esto posible : <span class="muted">Organizadores</span></h3>
      <div class="row center">
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140" src="images/gente/gize.jpg">
          <h4>Gize Bonilla</h4>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140" src="images/gente/ismael.jpg">
          <h4>Ismael Marín</h4>
        </div><!-- /.span4 -->
      </div>
    </div><!-- /.row -->

    <hr class="featurette-divider">
    <!-- FOOTER -->
    <!-- Boletos -->
    <div style="width:100%; text-align:left;" id="boletos"><iframe  src="https://www.eventbrite.com/tickets-external?eid=4955424809&ref=etckt&v=2" frameborder="0" height="485" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Sell Tickets Online</a> <span style="color:#ddd;">through</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>
    <hr class="featurette-divider">
    <footer>
      <p class="pull-right"><a href="#">Regresar Arriba</a></p>
      <p>&copy; 2013 Desarrollado por . &middot; <a href="http://www.twitter.com/igmarin">Ismael Marín</a> & <a href="http://www.twitter.com/xixebombilla">Gize Bonilla</a> &middot;</p>
    </footer>
  </div>
  <!-- /.container -->
  <!-- Le javascript
    ================================================== -->
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="/application.js"></script>
  <script src="javascripts/holder.js"></script>
  </body>
  </html>
