<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Startup Weekend León</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Startup Weekend León">
    <meta name="author" content="Gize Bonilla, Ismael G Marín">
    <!-- Le styles -->
    <%= bootstrap_assets %>
    <link rel="stylesheet" media="screen, projection" type="text/css" href="/application.css">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="images/favicon.png">
  </head>
  <body>
    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1 -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">Startup Weekend León</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="#programa">Programa</a></li>
                <li><a href="#boletos">Boletos</a></li>
                <li><a href="#about">¿Qué es Startup Weekend?</a></li>
                <li><a href="#mentores">Mentores y Jurado</a></li>
                <li><a href="#patrocinadores">Patrocinadores</a></li>
                <li><a href="#sede">Sede</a></li>
                <li><a href="#contacto">Contacto</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="images/slides/swleon.jpg" alt="">
        </div>
        <div class="item">
          <img src="images/slides/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Construyendo la comunidad de emprendedores.</h1>
              <a class="btn btn-large btn-primary" href="#boletos">Boletos</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="images/slides/slide-03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Startup Weekend</h1>
              <p class="lead">Podrás conocer personas igual de motivadas que tú para generar una empresa, validar el valor de tus ideas y nuevas formas de enfrentar los retos para crear tú startup.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="images/slides/slide-02.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>La mejor experiencia educativa para emprendedores</h1>
              <p class="lead">Red global de líderes y emprendedores apasionados con la misión de inspirar, educar y empoderar a las personas, equipos y comunidades sobre cultura emprendedora.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->

    <div class="container marketing">
      <!-- Boletos -->
      <div style="width:100%; text-align:left;" id="boletos"><iframe  src="https://www.eventbrite.com/tickets-external?eid=4955424809&ref=etckt&v=2" frameborder="0" height="485" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Sell Tickets Online</a> <span style="color:#ddd;">through</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>
      <hr class="featurette-divider">

      <!-- Que es Startup Weekend -->
      <div class="featurette" id="about">
        <h2 class="featurette-heading">¿Qué es <span class="muted">Startup Weekend?</span></h2>
        <iframe src="http://player.vimeo.com/video/55042366" class="featurette-image pull-right" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <p class="lead">
        <b>APRENDE A CONSTRUIR UNA EMPRESA EN 54 HORAS</b>
        Startup Weekend es una red global de líderes y emprendedores apasionados con la misión de inspirar, educar y empoderar a las personas, equipos y comunidades sobre cultura emprendedora. Te invitamos a compartir ideas, formar equipos y crear startups.
        </p>
      </div>

      <div class="featurette" id="sede">
      <hr class="featurette-divider">
        <h1>Nuestra Sede</h1>
        <div>
        <p style="float:left;width:40%;">
        Parque de Innovación De La Salle Bajío<br />
        Av. Universidad 602<br />
        Lomas del Campestre, 37150<br />
        León, Guanjuato<br />
        </p>
        <img style="float:right;width:50%;" src="images/DeLaSalle.png">
        <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=delasallebajio&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=68.054114,96.943359&amp;ie=UTF8&amp;hq=delasallebajio&amp;hnear=&amp;t=m&amp;cid=632305413263876657&amp;ll=21.150635,-101.710825&amp;spn=0.024015,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=delasallebajio&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=68.054114,96.943359&amp;ie=UTF8&amp;hq=delasallebajio&amp;hnear=&amp;t=m&amp;cid=632305413263876657&amp;ll=21.150635,-101.710825&amp;spn=0.024015,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left"></a></small>
        </div>
      </div>

      <!-- /END THE FEATURETTES -->

      <!-- Three columns of text below the carousel -->
      <hr class="featurette-divider">
      <div class="row" id="mentores">
        <h1>Jueces</h1>
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140" src="images/gente/christian.jpg">
          <h2>Christian Aguirre</h2>
          <p>Parte del equipo de Alta Ventures. Es miembro fundador del E | 100 programa de México. Como miembro del equipo de Alta Ventures, Christian ayudó a la recaudación de fondos de capital de riesgo Alta. En las operaciones, participa en la contratación, selección, análisis y realización de due diligence de las inversiones en Alta.</p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140" src="images/gente/frank.jpg">
          <h2>Frank Denbow</h2>
          <p>Music + Tech. Dancer. Developer de @StartupThreads / @Picsicle / @songsicle, Organizador de @StartupWeekend / @StartupDigest / @MusicStartup, @afsenyc Junta Directiva</p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140" src="images/gente/david.jpg">
          <h2>David Padilla</h2>
          <p>CEO CrowdInt apasionado de la tecnología, speaker, developer</p>
        </div><!-- /.span4 -->
      <hr class="featurette-divider">
      </div>

      <div class="row">
        <h1>Coaches</h1>

        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140" src="images/gente/fernanda.jpg">
          <h2>Fernanda Guerra</h2>
          <p>Estratega digital creativa enfocada a la creación de comunidades 2.0. Tenía esperanzas en convertirme en un persona normal y decente pero luego la publicidad me volcó al dark side. Exvocera de Invisible Children en México (The Rescue, 2009), fundadora de Le Dodo (taller creativo) y egresada de la carrera de ciencias de la comunicación del ITESM Guadalajara.</p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140" src="images/gente/francisco.jpeg">
          <h2>Francisco Viramontes</h2>
          <p>Mac lover y Rubyst, con experiencia en la construcción de Rubí rápido, seguro y fiable en aplicaciones empresariales Rails.</p>
        </div><!-- /.span4 -->
      </div>

      <div class="row">
        <h1>Organizadores</h1>
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Heading</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Regresar Arriba</a></p>
        <p>&copy; 2013 Desarrollado por . &middot; <a href="http://www.twitter.com/igmarin">Ismael Marín</a> & <a href="http://www.twitter.com/xixebombilla">Gize Bonilla</a> &middot;</p>
      </footer>
    </div>
    <!-- /.container -->
    <!-- Le javascript
    ================================================== -->
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/application.js"></script>
    <script src="javascripts/holder.js"></script>
  </body>
</html>
