<div class="row">
  <h1 class="titulo_mentores">Quienes darán su validación de los proyectos <span class="muted">Jueces</span></h1>
  <div class="row center">
    <div class="span4">
      <%= partial 'jueces/eric' %>
    </div><!-- /.span4 -->
    <div class="span4">
      <%= partial 'jueces/manuel' %>
    </div>
    <div class="span4">
      <%= partial 'jueces/luis' %>
    </div>
  </div>
</div>
