<div class="navbar-wrapper">
  <div class="container">
    <div class="span3 center">
      <img src="images/logoH.png" style="width:270px;"/>
    </div>
    <div class="span8">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <!-- Responsive Navbar Part 1 -->
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse">
            <ul class="nav lubalin">
              <li><a href="#about">¿Qué es Startup Weekend?</a></li>
              <li><a href="#horario">Horario</a></li>
              <li><a href="#sede">Sede</a></li>
              <li><a href="#mentores">Mentores</a></li>
              <li><a href="#boletos">Boletos</a></li>
              <li><a href="#patrocinadores">Patrocinadores</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!-- /.navbar-inner -->
      </div><!-- /.navbar -->
    </div>
  </div> <!-- /.container -->
</div><!-- /.navbar-wrapper -->
