<div class="row">
  <h1 class="titulo_mentores">Ayudamos para hacer esto posible: <span class="muted">Organizadores</span></h1>
  <div class="row center">
    <div class="span3">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/no_participan/gize.jpg">
      <h4>Gize Bonilla</h4>
    </div><!-- /.span4 -->
    <div class="span3">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/no_participan/ismael.jpg">
      <h4>Ismael Marín</h4>
    </div>
    <div class="span3">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/no_participan/carlos.jpg" width="140">
      <h4>Carlos López</h4>
    </div><!-- /.span4 -->

      <div class="span3">
        <img class="img-circle" data-src="holder.js/140x140" src="images/gente/no_participan/antonio.jpg">
        <h4>Antonio Reus</h4>
      </div><!-- /.span4 -->
  </div>
  <div class="row center">
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/no_participan/lizeth.jpg">
      <h4>Lizeth Mendez</h4>
    </div>
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/no_participan/aisha.jpg">
      <h4>Aisha Espino</h4>
    </div><!-- /.span4 -->
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/no_participan/laura.jpg">
      <h4>Laura Medina</h4>
    </div><!-- /.span4 -->
  </div>
  <div class="row center">
    <div class="span3">

    </div>
    <div class="span3">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/no_participan/yahaira.jpg">
      <h4>Yahaira</h4>
    </div><!-- /.span4 -->
    <div class="span3">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/no_participan/norely.jpg">
      <h4>Norely</h4>
    </div><!-- /.span4 -->
  </div>
</div>
