<div class="row">
  <h1 class="titulo_mentores">Ayudamos para hacer esto posible: <span class="muted">Organizadores</span></h1>
  
  <div class="row center">
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/gize.jpg">
      <h4>Gize Bonilla</h4>
    </div><!-- /.span4 -->
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/ismael.jpg">
      <h4>Ismael Marín</h4>
    </div>
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/rogelio.jpg">
      <h4>Rogelio Zarate</h4>
    </div>
  </div>
  
</div>
