<div class="row">
  <h1 class="titulo_mentores">Ayudamos para hacer esto posible: <span class="muted">Organizadores</span></h1>
  <div class="row center">
    <div class="span3">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/no_participan/ismael.jpg">
      <h4>Ismael Marín</h4>
    </div>
    <div class="span3">
      <img class="img-circle img-reponsive" data-src="holder.js/140x140" src="images/gente/no_participan/carlos.jpeg" width="140" height="140">
      <h4>Carlos López</h4>
    </div><!-- /.span4 -->
    <div class="span3">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/no_participan/paty.jpg">
      <h4>Paty Reynoso</h4>
    </div><!-- /.span4 -->
    <div class="span3">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/no_participan/eduardo.jpg">
      <h4>Eduardo Ríos</h4>
    </div><!-- /.span4 -->
  </div>
</div>
