<div class="row center featurette" id="patrocinadores">
  <!-- Patrocinadores Platinum ================================================== -->
  <h1 style="font-size:35pt;" class="titulo_mentores">  Patrocinadores: <span class="muted">Platinum</span></h1>
  <div class="row">
    <img src="images/patrocinadores/cityexpress.jpeg">
    <img src="images/patrocinadores/neubox.png">
    <img src="images/patrocinadores/economia_leon.jpg">
  </div>

  <!-- Patrocinadores Gold ================================================== -->
  <hr class="featurette-divider">
  <h1 style="font-size:35pt;" class="titulo_mentores">  Patrocinadores: <span class="muted">Gold</span></h1>
  <div class="row">
    <img src="images/patrocinadores/de_la_salle.jpg">
    <img src="images/DeLaSalle.png" style="width:300px;">
  </div>

  <!-- Patrocinadores Globales ================================================== -->
  <hr class="featurette-divider">
  <h1 style="font-size:35pt;" class="titulo_mentores">  Patrocinadores: <span class="muted">Globales</span></h1>
  <div class="row">
    <img src="images/patrocinadores/BizSpark.jpg">
    <img src="images/patrocinadores/aws.png">  
    <img src="images/patrocinadores/google.png">
    <img src="images/patrocinadores/dotco.png">
  </div>
</div>
