<div class="row center featurette" id="patrocinadores">
  <!-- Patrocinadores Globales ================================================== -->
  <h1 class="titulo_mentores">  Patrocinadores: <span class="muted">Globales</span></h1>
  <div class="row">
    <div class="span3 center">
      <a href="http://www.coca-cola.com/index.jsp" target="_blank">
      <img src="images/patrocinadores/coca.png">
      </a>
    </div>
	  <div class="span3 center">
      <a href="http://aws.amazon.com/" target="_blank">
	  	  <img src="images/patrocinadores/aws.png" style="width:150px;">
      </a>
	  </div>
	  <div class="span3 center">
      <a href="http://www.google.com/entrepreneurs/" target="_blank">
	  	  <img src="images/patrocinadores/google.png" style="width:200px;">
      </a>
	  </div>
	  <div class="span3 center">
      <a href="http://do.co/" target="_blank">
	  	  <img src="images/patrocinadores/dotco.png" style="width:80px;">
      </a>
	  </div>
  </div>
</div>
