<div class="row center featurette" id="patrocinadores">
  <!-- Patrocinadores Platinum ================================================== -->
  <h1  class="titulo_mentores">  Patrocinadores: <span class="muted">Platinum</span></h1>
  <div class="row">
	  <div class="span3 center">
      <a href="#" target="_blank">
      <img src="images/patrocinadores/cisco.png">
      </a>
	  </div>
	  <div class="span3 center">
      <a href="http://cityexpress.hotelescity.com/" target="_blank">
	  	<img src="images/patrocinadores/cityexpress.jpeg">
      </a>
	  </div>
	  <div class="span3 center">
	  	<img src="images/patrocinadores/novaera.png" style='width: 200px'>
	  </div>
	  <div class="span3 center">
	  	<img src="images/patrocinadores/desarrollo.png">
	  </div>

    <div class="span3 center">
      <img src="images/patrocinadores/vitamin.jpg">
    </div>
  </div>

  <!-- Patrocinadores Gold ================================================== -->
  <hr class="featurette-divider">
  <h1 class="titulo_mentores">  Patrocinadores: <span class="muted">Gold</span></h1>
  <div class="row ">
	  <div class="span4 center">
      <a href="http://www.itesm.mx/wps/wcm/connect/Campus/LEO/Leon" target="_blank">
      <img src="images/patrocinadores/tec.png">
      </a>
	  </div>
	  <div class="span4 center">
      <a href="http://www.innku.com/es" target="_blank">
	  	 <img src="images/patrocinadores/innku.png" />
      </a>
	  </div>
    <div class="span4 center">
      <a href="http://www.rides.com.mx" target="_blank">
       <img src="images/patrocinadores/rides.png" />
      </a>
    </div>
    <div class="span4 center">
      <a href="http://www.reserbus.mx/" target="_blank">
       <img src="images/patrocinadores/reserbus.png" />
      </a>
    </div>
    <div class="span4 center">
      <a href="http://www.cuadra.com.mx/" target="_blank">
       <img src="images/patrocinadores/cuadra.jpg" />
      </a>
    </div>
    <div class="span4 center">
      <a href="http://neubox.com/" target="_blank">
       <img src="images/patrocinadores/neubox.png" />
      </a>
    </div>
  </div>
  <!-- Patrocinadores Silver ==================================================
  <hr class="featurette-divider">
  <h1 class="titulo_mentores">  Patrocinadores: <span class="muted">Silver</span></h1>
  <div class="row ">
	  <div class="span4">
      <a href="http://www.appcelerator.com/" target="_blank">
        <img src="images/patrocinadores/appcelerator.png" style="height:170px;">
      </a>
	  </div>
	  <div class="span4">
      <a href="http://redimagenvisual.com/" target="_blank">
        <img src="images/patrocinadores/redimagen.jpg" style="height:150px;">
      </a>
	  </div>
	  <div class="span4">
      <a href="http://ahcanahuac.com/" target="_blank">
        <img src="images/patrocinadores/ahcanahuac.png">
      </a>
	  </div>

  </div>  -->

  <!-- Patrocinadores Globales ================================================== -->
  <hr class="featurette-divider">
  <h1 class="titulo_mentores">  Patrocinadores: <span class="muted">Globales</span></h1>
  <div class="row">
    <div class="span3 center">
      <a href="http://www.coca-cola.com/index.jsp" target="_blank">
      <img src="images/patrocinadores/coca.png">
      </a>
    </div>
	  <div class="span3 center">
      <a href="http://aws.amazon.com/" target="_blank">
	  	  <img src="images/patrocinadores/aws.png" style="width:150px;">
      </a>
	  </div>
	  <div class="span3 center">
      <a href="http://www.google.com/entrepreneurs/" target="_blank">
	  	  <img src="images/patrocinadores/google.png" style="width:200px;">
      </a>
	  </div>
	  <div class="span3 center">
      <a href="http://do.co/" target="_blank">
	  	  <img src="images/patrocinadores/dotco.png" style="width:80px;">
      </a>
	  </div>

  </div>
</div>
