<div class="featurette" id="about">
    <div class="span6">
      <a data-pin-do="embedBoard" href="http://pinterest.com/swleon/swleon/" data-pin-scale-width="90" data-pin-scale-height="250"></a>
    </div>
  <div class="row">
    <div class="span5">
      <h1 class="featurette-heading ">Muchas <span class="muted">Gracias</span></h1>
      <hr class="featurette-divider" style="margin:5px 0;">
      <p class="lead">
        Gracias a ti, Startup Weekend León ha sido una realidad, te agradecemos tu apoyo, así como el haberte dado la oportunidad de ser parte de este evento, agradecemos también a nuestros coaches, jueces, Universidad DeLaSalle Bajío, Parque de Innovación De La Salle y patrocinadores el apoyo en todo momento.
      <br /><br />
      </p>
    </div>
  </div>
</div>
