<div class="row center featurette">
  <h1 class="featurette-heading ">Horario</h1>
  <div class="span4">
    <h3>Viernes</h3>
    <h6>Jul 19</h6>
    <ul class='events'>
      <li>
      <time>5:00pm</time>
      <span>Registro</span>
      </li>
      <li>
      <time>6:00pm</time>
      <span>Networking</span>
      </li>
      <li>
      <time>6:30pm</time>
      <span>Bienvenida y Speakers</span>
      </li>
      <li>
      <time>6:45pm</time>
      <span>Plática sobre escalamiento</span>
      </li>
      <li>
      <time>7:00pm</time>
      <span>Plática sobre emprendedores</span>
      </li>
      <li>
      <time>7:30pm</time>
      <span>Presentación de ideas</span>
      </li>
      <li>
      <time>8:00pm</time>
      <span>Votación de ideas</span>
      </li>
      <li>
      <time>8:20</time>
      <span>Cena</span>
      </li>
      <li>
      <time>8:50pm</time>
      <span>Formación de equipos y discusión</span>
      </li>
      <li>
      <time>10:00pm</time>
      <span>Formalización de equipos, asignación de espacios e inicio del trabajo en equipo</span>
      </li>
    </ul>
  </div>
  <div class="span4">
    <h3>Sabado</h3>
    <h6>Jul 20</h6>
    <ul class='events'>
      <li>
      <time>9:00am</time>
      <span>Desayuno</span>
      </li>
      <li>
      <time>9:30am</time>
      <span>Continuación del trabajo en equipo</span>
      </li>
      <li>
      <time>10:00am</time>
      <span>Platica sobre BP y Finanzas</span>
      </li>
      <li>
      <time>1:00pm</time>
      <span>Comida</span>
      </li>
      <li>
      <time>2:00pm</time>
      <span>Mentoria</span>
      </li>
      <li>
      <time>6:30pm</time>
      <span>Cena</span>
      </li>
      <li>
      <time>7:00pm</time>
      <span>Charla sobre pitches</span>
      </li>
      <li>
      <time>8:00pm</time>
      <span>Reporte de avances </span>
      </li>
      <li>
      <time>10:00pm</time>
      <span>Práctica de pitches</span>
      </li>
    </ul>
  </div>
  <div class="span4">
    <h3>Domingo</h3>
    <h6>Jul 21</h6>
    <ul class='events'>
      <li>
      <time>9:00am</time>
      <span>Desayuno</span>
      </li>
      <li>
      <time>10:00am</time>
      <span>Solicitud de ayuda y apoyo</span>
      </li>
      <li>
      <time>1:00pm</time>
      <span>Comida</span>
      </li>
      <li>
      <time>5:00pm</time>
      <span>Presentaciones finales</span>
      </li>
      <li>
      <time>7:30pm</time>
      <span>Jurado y premiación</span>
      </li>
      <li>
      <time>8:30pm</time>
      <span>Cierre y cena</span>
      </li>
    </ul>
  </div>
</div>
