<!-- Que es Startup Weekend -->
<div class="featurette" id="about">
  <div class="row">
    <div class="span6">
      <h1 class="featurette-heading ">Programa</h1>
      <hr class="featurette-divider" style="margin:5px 0;">
    </div>
  </div>
</div>
<!-- Modal -->
<div id="about_sw" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">¿Qué es Startup Weekend?</h3>
  </div>
  <div class="modal-body">
    <div style="width:80%; margin:auto;">
      <p style="text-align:justify">
      Startup Weekend es un evento de 54 horas en un fin de semana entero donde equipos multidisciplinarios desarrollan ideas de negocios e incrementan sus capacidades como potenciales emprendedores de alto impacto.<br /><br />
      Para el final del domingo, todos los equipos presentan su proyecto de negocios antes un jurado. Y lo más importante, no necesitas traer una idea. Puedes unirte al equipo que encuentres más atractivo para trabajar en ese proyecto.<br /><br />
      Startup Weekeend León se llevará a cabo en el Parque de Innovación De La Salle Bajío ¿Quiénes pueden participar? Desarrolladores y programadores de cualquier lenguaje, diseñadores gráficos, especialistas en UX, mercadólogos, administradores de negocios, y emprendedores.
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
  </div>
</div>
