<div class="row featurette programa" id="horario">
  <h1 class="featurette-heading center span12">Horario</h1>
  <div class="span4">
    <h3>
      Viernes
      <span class="muted">May 22</span>
    </h3>
    <p>
    <time>5:00pm</time>
    <span>Registro</span>
    </p>
    <p>
    <time>6:00pm</time>
    <span>Networking</span>
    </p>
    <p>
    <time>6:30pm</time>
    <span>Bienvenida y Speakers</span>
    </p>
    <p>
    <time>7:30pm</time>
    <span>Presentación de ideas</span>
    </p>
    <p>
    <time>8:00pm</time>
    <span>Votación de ideas</span>
    </p>
    <p>
    <time>8:20pm</time>
    <span>Cena</span>
    </p>
    <p>
    <time>8:50pm</time>
    <span>Formación de equipos y discusión</span>
    </p>
    <p>
    <time>10:00pm</time>
    <span>Formación de equipos, asignación de espacios e inicio del trabajo en equipo</span>
    </p>
  </div>
  <div class="span4">

    <h3>
      Sábado
      <span class="muted">May 23</span>
    </h3>
    <p>
    <time>9:00am</time>
    <span>Desayuno</span>
    </p>
    <p>
    <time>9:30am</time>
    <span>Continuación del trabajo en equipo</span>
    </p>
    <p>
    <time>1:00pm</time>
    <span>Comida</span>
    </p>
    <p>
    <time>2:00pm</time>
    <span>Mentoria</span>
    </p>
    <p>
    <time>8:00pm</time>
    <span>Cena</span>
    </p>
    <p>
    <time>9:00pm</time>
    <span>Charla sobre pitches</span>
    </p>
    <p>
    <time>9:30pm</time>
    <span>Reporte de avances </span>
    </p>
    <p>
    <time>12:00am</time>
    <span>Práctica de pitches</span>
    </p>
  </div>
  <div class="span4">
    <h3>
      Domingo
      <span class="muted">May 24</span>
    </h3>
    <p>
    <time>9:00am</time>
    <span>Desayuno</span>
    </p>
    <p>
    <time>10:00am</time>
    <span>Solicitud de ayuda y apoyo</span>
    </p>
    <p>
    <time>2:00pm</time>
    <span>Comida</span>
    </p>
    <p>
    <time>5:00pm</time>
    <span>Presentaciones finales</span>
    </p>
    <p>
    <time>7:30pm</time>
    <span>Jurado y premiación</span>
    </p>
  </div>
</div>
