<div class="featurette" id="rides">
  <div class="row">
    <div class="span6">
      <h1 class="featurette-heading ">¿Vienes de otra ciudad?</h1>
      <hr class="featurette-divider" style="margin:5px 0;">
      <h4 class="muted">Boletos de autobús a los mejores precios</h4>
      <p>
        En reserbus puedes adquirir tus boletos de camión a los mejores precios, dale click <a href="https://www.reserbus.com.mx">aqui</a> para coordinar tu viaje.
      </p>
    </div>
    <div class="span5 center">
      <a href="https://www.reserbus.mx"><img src="images/patrocinadores/reserbus.png" alt="" /></a>
    </div>
  </div>
</div>
