<div class="featurette" id="rides">
  <div class="row">
    <div class="span6">
      <h1 class="featurette-heading ">¡Vamos al SW León!</h1>
      <hr class="featurette-divider" style="margin:5px 0;">
      <h4 class="muted">La mejor forma de llegar</h4>
      <p>
        Es por medio de rides, dale click <a href="https://www.rides.com.mx/eventos/startupweekend_leon">aqui</a> para coordinar tu viaje.
      </p>
    </div>
    <div class="span6 center">
      <a href="https://www.rides.com.mx/eventos/startupweekend_leon"><img src="images/rides-logo.png" alt="" /></a>
    </div>
  </div>
</div>
