<div class="featurette" id="sede">
  <div class="row">
    <div class="span4">
      <h1 class="featurette-heading ">Nuestra Sede</h1>
      <hr class="featurette-divider" style="margin:5px 0;">
      <p style="text-align:left;">
      <span class="muted">Tecnol칩gico de Monterrey</span><br/>
      Avenida Eugenio Garza Sada  #775,
      Col. Cerro Gordo
      , Le칩n, Guanajuato.<br> <br>
      <span class="muted">En el Auditorio Principal, entrando por la primer puerta del retorno, pasando el estacionamiento, primer edificio a la derecha.</span>
      </p>
      <img style="width:100%;" src="images/logo_tec.jpg">
      <p><b>NOTA:</b> Incluye Alimentos y 치rea de Snacks. Contaremos con un are치 especial para dormir (trae tu sleeping bag).</p>
    </div>
    <div class='span8 center'>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.655471978854!2d-101.71559799999996!3d21.166104999999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bc753cb6dceef%3A0xe5d47a1db5eafcc7!2sTecnologico+de+Monterrey!5e0!3m2!1ses!2smx!4v1431995728266" width="100%" height="450" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
</div>
