
<div class="featurette" id="sede">
  <div class="row">
    <div class="span4">
      <h1 class="featurette-heading ">Nuestra Sede</h1>
      <hr class="featurette-divider" style="margin:5px 0;">
      <p style="text-align:left;">
      <span class="muted">Parque CIEN</span><br/>
      Avenida Eugenio Garza Sada  #775,
      Col. Cerro Gordo
      , León, Guanajuato.
      </p>
      <img style="width:100%;" src="images/logo_tec.jpg">
      <p><b>NOTA:</b> Contaremos con un areá especial para dormir (trae tu sleeping bag).</p>
    </div>
    <div class=span8>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3720.7662909320156!2d-101.7083018!3d21.161697099999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bc0aaca6d9c95%3A0xe9d2e04051e7ff8a!2sEugenio+Garza+Sada+775%2C+Le%C3%B3n%2C+GTO!5e0!3m2!1ses-419!2smx!4v1415385182152" height="420" width="100%" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
</div>


