<div class="featurette" id="sede">
  <div class="row">
    <div class="span4">
      <h1 class="featurette-heading ">Nuestra Sede</h1>
      <hr class="featurette-divider" style="margin:5px 0;">
      <p style="text-align:left;">
      <span class="muted">Parque Tecnológico CIEN</span><br/>
      Avenida Eugenio Garza Sada  #775,
      Col. Cerro Gordo
      , León, Guanajuato.
      </p>
      <img style="width:100%;" src="images/logo_tec.jpg">
      <p><b>NOTA:</b> Contaremos con un areá especial para dormir (trae tu sleeping bag).</p>
    </div>
    <div class=span8>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3720.6657807120955!2d-101.71235399999999!3d21.165695!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bc754767f985b%3A0x99b498532b74815b!2sParque+Tecnol%C3%B3gico+CIEN.+Tec+de+Monterrey!5e0!3m2!1ses!2smx!4v1415388689479" width="100%" height="450" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
</div>
