<div class="span6 center">
	<div style="margin:20px 0;">
  <img class="img-circle"  data-src="holder.js/250x250" src="images/gente/alberto.jpg">

  <h4>Alberto Padilla</h4>
	<h6 class="muted" style="font-style:italic; height:50px;"> Emprendedor INNKU, Aventones</h6>
  <a href="#alberto" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="alberto" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Alberto Padilla</h3>
    </div>
    <div class="modal-body">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/alberto.jpg">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="curriculum">
	          Emprendedor y apasionado sobre la innovación de soluciones.  Experiencia en ventas, relaciones con clientes e innovación, así como parte del ecosistema emprendedor y Venture Capital.<br /><br />
	          Especialidades: Innovación, desarrollo de negocios, estrategias comerciales, ventas y CRM.
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
    </div>
  </div>
</div>
</div>
