<div class="span3 gente">
  <img class="img-circle" data-src="holder.js/140x140" src="images/gente/christian.jpg">
  <h4>Christian Aguirre</h4>
  <a href="#christian" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="christian" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Christian Aguirre</h3>
    </div>
    <div class="modal-body">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/christian.jpg">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="curriculum">Parte del equipo de Alta Ventures. Es miembro fundador del E | 100 programa de México.<br /><br />Como miembro del equipo de Alta Ventures, Christian ayudó a la recaudación de fondos de capital de riesgo Alta.<br /><br />En las operaciones, participa en la contratación, selección, análisis y realización de due diligence de las inversiones en Alta.</p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
    </div>
  </div>
</div>
