<div class="span4 ">
	<div style="margin:20px 0;">
  <img class="img-circle"  data-src="holder.js/250x250" src="images/gente/christian.jpg">

  <h4>Christian Aguirre</h4>
  <a href="#christian" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="christian" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Christian Aguirre</h3>
    </div>
    <div class="modal-body">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/christian.jpg">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="curriculum">
          Christian is a Senior Analyst at Alta Ventures Mexico. Prior to joining Alta Ventures, Christian participated in the Small & Medium Enterprise research chair at the EGADE Business School, where he developed a passion for startups. Christian joined the Alta Ventures team early in 2010 as an intern while enrolled in a VC course. Upon graduating in July 2010, Christian began working full time as an analyst. He is a founding member of the E|100 Mexico program, an initiative to recognize the top 100 entrepreneurs of the region.  As a member of the Alta Ventures team, Christian helped raising Alta's venture capital fund. In the operations, he participates in the sourcing, selection, analysis and carrying due diligence of the investments at Alta. <br /><br />
          Christian earned a B.S. in Mechatronics Engineering from the Instituto Tecnológico y de Estudios Superiores de Monterrey and a Master in Finance from the EGADE Business School where he graduated with honors. Christian is passionate about working with entrepreneurs and developing the Venture Capital Industry in Mexico and Latin America. He is interested in sports, technology and music.
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
    </div>
  </div>
</div>
</div>
