<div class="span3">
  <img class="img-circle" data-src="holder.js/140x140" src="images/gente/frank.jpg">
  <h4>Frank Denbow</h4>
  <a href="#frank" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="frank" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Frank Denbow</h3>
    </div>
    <div class="modal-body">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/frank.jpg">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="justify">Music + Tech. Dancer. Developer de @StartupThreads / @Picsicle / @songsicle, Organizador de @StartupWeekend / @StartupDigest / @MusicStartup, @afsenyc Junta Directiva</p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
    </div>
  </div>
</div>
