<div class="span12">
  <img class="img-circle" data-src="holder.js/140x140/social" src="images/gente/gustavo.jpg">
  <h4>Gustavo Alvarez</h4>
  <a href="#gustavo" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="gustavo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Gustavo Alvarez Moreno</h3>
    </div>
    <div class="modal-body">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/gustavo.jpg">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="curriculum">
          Emprendedor, apasionado por el comportamiento de la sociedad.<br /><br />
          Fundé Fondeadora en 2011, plataforma de fondeo colectivo; ahora estoy a cargo de las operaciones de Startup Weekend en México y Centroamérica. <br /><br />
          Creo en el poder de la gente para crear un mundo más habitable y equilibrado a través de la tecnología.<br /><br />
          Soy fanático del Arsenal del norte de Londres.
        </p>
      </div>
    </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
      </div>
  </div>
</div>
