<div class="span5 center">
	<div style="margin:20px 0;">
  <img class="img-circle"  data-src="holder.js/250x250" src="images/gente/jose.jpg">

  <h4>José Luis</h4>
  <h6 class="muted" style="font-style:italic; height:50px;">CEO y Fundador neubox.com</h6>
  <a href="#jose" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
  <!-- Modal -->
  <div id="jose" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">José Luis</h3>
    </div>
    <div class="modal-body">
      <img class="img-circle" data-src="holder.js/140x140" src="images/gente/jose.jpg">
      <div style="width:80%; margin:auto;">
        <hr class="featurette-divider" style="margin:10px 0;">
        <p class="curriculum">
        CEO y Fundador de NEUBOX.COM, la segunda empresa mas grande de alojamiento web y registro de dominios en México.<br /><br />
        Co-Fundador de STRATOMINDS.COM, Centro de Entrenamiento en TI con ubicaciones en la Ciudad de México y Santiago de Chile; y Co-Fundador de NYON.TV, empresa de innovación en tecnología creadora de hardware y aplicaciones.<br /><br />
        Actualmente me encuentro desarrollando proyectos de nueva economía, inteligencia artificial y servicios de consumo masivo mediante STARTUPENGINE.MX, una incubadora de etapa temprana y aceleradora de proyectos y negocios propios.<br /><br />
        http://www.linkedin.com/in/joseluisx
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
    </div>
  </div>
</div>
</div>
