<div class="span3">
  <div style="margin:20px 0;">
    <img class="img-circle" data-src="holder.js/140x140/social" src="images/gente/jueces/manuel.jpg">
    <h4>Manuel Vidaurre</h4>
    <h6 class="muted" style="font-style:italic; height:50px;">CTO Founder / Master Craftsman at AgilTec</h6>
    <a href="#manuel" role="button" class="btn btn-large btn-success" data-toggle="modal">Trayectoria</a>
    <!-- Modal -->
    <div id="manuel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">manuel Northam</h3>
      </div>
      <div class="modal-body">
        <img class="img-circle" data-src="holder.js/140x140" src="images/gente/jueces/manuel.jpg" style="width:180px;">
        <div style="width:80%; margin:auto;">
          <hr class="featurette-divider" style="margin:10px 0;">
          <p class="curriculum">
          Sistemas de Información Especialista orientada a crear soluciones para el mercado de Bienes Raíces y Sistemas de Información Sanitaria. Él está usando soluciones de e-marketing y e-sales.
          <br /><br /><br />
          Especialidades:
          <ul>
            <li>Computer Information Systems Specialists.</li>
            <li>Information System Management (MIS).</li>
            <li>Development of Health Information Systems</li>
            <li>Geographic Information Systems. Certification for the Environmental Systems Research Institute, Inc</li>
            <li>Information Systems development using Web-based client/server model (Intranet/Internet)</li>
            <li>Object-Oriented Technology</li>
            <li>Software Engineering</li>
            <li>Patterns and component-based design</li>
            <li>Visual Modeling, Usability & Interactions Design</li>
            <li>Relational Database Managing Systems/SQL</li>
          </ul>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Regresar</button>
      </div>
    </div>
  </div>

</div>
